<div class="tab-pane fade well" id="column-one-rotato">
    <form>
        <fieldset>
            <label>Story URL:</label>
            <div class="input-group">
                  <input type="text" id="story_url" class="form-control" value="http://latimes.com/etc">
            </div>
            <label>Story Image One: (url ending in /800/4x3)</label>
            <div class="input-group">
                  <input type="text" id="story_image_one" class="form-control" value="https://www.trbimg.com/img-5c743292/turbine/la-1551118985-2nlad4u2cp-snap-image/800/4x3">
            </div>
            <label>Story Image Two: (url ending in /800/4x3)</label>
            <div class="input-group">
                  <input type="text" id="story_image_two" class="form-control" value="https://www.trbimg.com/img-5c744baa/turbine/la-1551125413-hkofmderxe-snap-image/800/4x3">
            </div>
            <label>Story Image Three: (url ending in /800/4x3)</label>
            <div class="input-group">
                  <input type="text" id="story_image_three" class="form-control" value="https://www.trbimg.com/img-5c70553e/turbine/la-1550865720-f8wzuvjsy3-snap-image/800/4x3">
            </div>
            <label>Story Image Four: (url ending in /800/4x3)</label>
            <div class="input-group">
                  <input type="text" id="story_image_four" class="form-control" value="https://www.trbimg.com/img-5c743924/turbine/la-1551120668-fulyof1gtl-snap-image/800/4x3">
            </div>
            <span class="input-group-btn">
                <button class="btn btn-primary" onclick="createColumnOneRotato();" type="button">Embed</button>
            </span>
        </fieldset>
    </form>
    <div id="column-one-rotato-preview"></div>
    <div class="code" id="column-one-rotato-code"></div>
</div>
