<div class="tab-pane fade well" id="column-one-representation">
    <form>
        <fieldset>
            <label>Story URL:</label>
            <div class="input-group">
                  <input type="text" id="story_url" class="form-control" placeholder="https://latimes.com/etc">
            </div>
            <label>Dimensions:</label>
            <div class="input-group">
                <select id="repDimensions">
                  <option value="16x9">16:9</option>
                  <option value="4x3">4:3</option>
                </select>
            </div>
            <label>Photo URL:</label>
            <div class="input-group">
                <input type="text" id="photo_url" class="form-control" placeholder="https://www.trbimg.com/img-5c743292/turbine/la-1551118985-2nlad4u2cp-snap-image/800/4x3">
            </div>
            <span class="input-group-btn">
                <button class="btn btn-primary" onclick="createColumnOneRepresentation();" type="button">Embed</button>
            </span>
        </fieldset>
    </form>
    <div id="column-one-representation-preview"></div>
    <div class="code" id="column-one-representation-code"></div>
    <button id="rep-copier" onclick="repcopyText()">Copy to Clipboard</button>
</div>
