<div class="tab-pane fade well" id="column-one-rotato">
    <form>
        <fieldset>
            <label>Story URL:</label>
            <div class="input-group">
                  <input type="text" id="story_url" class="form-control" value="http://latimes.com/etc">
            </div>
            <label>Story Image One:</label>
            <div class="input-group">
                  <input type="text" id="story_image_one" class="form-control" value="http://tribpub.com/etc">
            </div>
            <label>Story Image Two:</label>
            <div class="input-group">
                  <input type="text" id="story_image_two" class="form-control" value="http://tribpub.com/etc">
            </div>
            <label>Story Image Three:</label>
            <div class="input-group">
                  <input type="text" id="story_image_three" class="form-control" value="http://tribpub.com/etc">
            </div>
            <label>Story Image Four:</label>
            <div class="input-group">
                  <input type="text" id="story_image_four" class="form-control" value="http://tribpub.com/etc">
            </div>
            <span class="input-group-btn">
                <button class="btn btn-primary" onclick="createColumnOneRotato();" type="button">Embed</button>
            </span>
        </fieldset>
    </form>
    <div id="column-one-rotato-preview"></div>
    <div class="code" id="column-one-rotato-code"></div>
</div>
