<div class="tab-pane fade well" id="iframe">
    <form>
        <fieldset>
            <label>Opentable Embed:</label>
            <div class="input-group">
                <input type="text" id="openTable-url" class="form-control" placeholder="<iframe src='https://www.youtube.com/embed/i-HQmQrY5NU' style='border:0'></iframe>">
                <span class="input-group-btn">
                    <button class="btn btn-primary" onclick="openTableEmbed();" type="button">Embed</button>
                </span>
            </div><!-- /input-group -->
        </fieldset>
    </form>
    <div id="genericpreview"></div>
    <div id="genericembedNote" class="alert alert-info" style="display:none; margin-top:15px"><strong>NOTE:</strong> You may want to remove any hard coded values you see below with regards to "width" and "height" in the below code. These values may be in the iFrame SRC parameters, or in the iFrame query string. Experiment to see what works best.</div>
    <div class="code" id="genericembedCode"></div>
    <button id="openTable-copier" onclick="openTablecopyText()">Copy to Clipboard</button>
</div>