<div class="tab-pane fade well" id="premiumVideo">
    <form>
        <fieldset>
            <label>ContentID from P2P:</label>
            <div class="input-group">
                  <input type="text" id="p2pcontentID" class="form-control" value="93054345">
            </div>
            <label>Poster image:</label>
            <div class="input-group">
                  <input type="text" id="posterImg" class="form-control" value="http://www.trbimg.com/img-5b170a70/turbine/la-et-mn-star-wars-the-last-jedi-trailer/1000/16x9">
            </div>
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-primary" onclick="createPremiumVideoEmbed();" type="button">Embed</button>
                </span>
            </div>
        </fieldset>
    </form>
    <div id="premiumVideoPreview"></div>
    <div class="code" id="premiumVideoCode"></div>
</div>
