<div class="tab-pane fade well" id="screendoor">
    <form>
        <fieldset>
            <label>Enter Screendoor project ID:</label>
            <div class="input-group">
                <input type="text" id="screendoorID" class="form-control" placeholder="fL8ikmhr6yg7Ol09">
                <span class="input-group-btn">
                    <button class="btn btn-primary" onclick="createScreendoor();" type="button">Embed</button>
                </span>
            </div><!-- /input-group -->
        </fieldset>
    </form>
    <div class="code" id="screendoorEmbedCode"></div>
    <button id="sdoor-copier" onclick="sdoorcopyText()">Copy to Clipboard</button>
</div>
