<div class="tab-pane fade well" id="series-box">
        <form>
            <fieldset>
                <label>List Headline:</label>
                <div class="input-group">
                      <input type="text" id="list_headline" class="form-control" value="List Headline">
                </div>
                <label>First Story URL (must match the story you pathed in flex feature):</label>
                <div class="input-group">
                      <input type="text" id="first_story_url" class="form-control" value="http://latimes.com/etc">
                </div>
                <label>First Story Image: (url ending in /600)</label>
                <div class="input-group">
                      <input type="text" id="first_story_image" class="form-control" value="http://tribpub.com/etc">
                </div>
                <label>Second Story URL:</label>
                <div class="input-group">
                      <input type="text" id="second_story_url" class="form-control" value="http://latimes.com/etc">
                </div>
                <label>"Part 1" Subhead:</label>
                <div class="input-group">
                      <input type="text" id="part_one_subhead" class="form-control" value="'Part 1' Subhead">
                </div>
                <label>Second Story Image: (url ending in /600)</label>
                <div class="input-group">
                      <input type="text" id="second_story_image" class="form-control" value="http://tribpub.com/etc">
                </div>
                <label>Second Story Hed:</label>
                <div class="input-group">
                      <input type="text" id="second_story_hed" class="form-control" value="Second Story Hed">
                </div>
                <label>Third Story URL:</label>
                <div class="input-group">
                      <input type="text" id="third_story_url" class="form-control" value="http://latimes.com/etc">
                </div>
                <label>"Part 2" Subhead:</label>
                <div class="input-group">
                      <input type="text" id="part_two_subhead" class="form-control" value="'Part 2' Subhead">
                </div>
                <label>Third Story Image: (url ending in /600)</label>
                <div class="input-group">
                      <input type="text" id="third_story_image" class="form-control" value="http://tribpub.com/etc">
                </div>
                <label>Third Story Hed:</label>
                <div class="input-group">
                      <input type="text" id="third_story_hed" class="form-control" value="Third Story Hed">
                </div>
                <label>Fourth Story URL:</label>
                <div class="input-group">
                      <input type="text" id="fourth_story_url" class="form-control" value="http://latimes.com/etc">
                </div>
                <label>"Part 3" Subhead:</label>
                <div class="input-group">
                      <input type="text" id="part_three_subhead" class="form-control" value="'Part 3' Subhead">
                </div>
                <label>Fourth Story Image: (url ending in /600)</label>
                <div class="input-group">
                      <input type="text" id="fourth_story_image" class="form-control" value="http://tribpub.com/etc">
                </div>
                <label>Fourth Story Hed:</label>
                <div class="input-group">
                      <input type="text" id="fourth_story_hed" class="form-control" value="Fourth Story Hed">
                </div>
                <span class="input-group-btn">
                    <button class="btn btn-primary" onclick="createSeriesBox();" type="button">Embed</button>
                </span>
            </fieldset>
        </form>
        <div id="seriesboxpreview"></div>
        <div class="code" id="seriesboxcode"></div>
    </div>
    