
<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="icon" type="image/x-icon" href="{{ "/assets/img/rotato.gif" | relative_url }}" />
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="https://d1qqc1e9kvmdh8.cloudfront.net/bootstrap/2.3.2/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://d1qqc1e9kvmdh8.cloudfront.net/css/ngux-tophat-0.4.5.min.css" />
    <link rel="stylesheet" type="text/css" href="https://d1qqc1e9kvmdh8.cloudfront.net/bootstrap/2.3.2/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" type="text/css" href="https://d1qqc1e9kvmdh8.cloudfront.net/css/ngux-tophat-responsive-0.4.5.min.css" />
    <link href="{{ "/assets/css/bootstrap.min.css" | relative_url }}" rel="stylesheet">
    <script src="{{ "/assets/js/jquery.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/bootstrap.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/uri.js" | relative_url }}"></script>
</head>
<body>
    <div class="container">
      <div class="row">
          {{ content }}
      </div>
    </div>
</body>
</html>
